@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat;
@using Bakery.Models;
@using System.Collections.Generic;

<h2>Treat Details</h2>
<hr />
<h3>Treat name: @Html.DisplayFor(model => model.TreatName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>There are flavors of this treat right now</p>
}
else
{
  <h4>Flavors that this treat comes in:</h4>
  <ul>
  @foreach (TreatFlavor join in Model.JoinEntities)
    {
      <li>@join.Flavor.FlavorName</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to treat list", "Index")</p>
<p>@Html.ActionLink("Edit Treats", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Add new flavor of this treat", "AddFlavor", new { id = Model.TreatId }) : @Html.DisplayFor(Model =>
    Model.TreatName)</p>
</div>