@{
    Layout = "_Layout";
}

@model Bakery.Models.Flavor;
@using System.Collections.Generic;

<h2>Delete a flavor</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Edit Flavors", "Edit", new { id = Model.FlavorId })</p>
@Html.ActionLink("Back to List", "Index")
<p>@Html.ActionLink("Add new treat", "Create", "Treats")</p>