@{
    Layout = "_Layout";
}

@model Bakery.Models.Flavor;
@using Bakery.Models;
@using System.Collections.Generic;

<h2>Flavors Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
    <p>There are no treats of this flavor right now</p>
}
else
{
    <h4>Treats of this flavor</h4>
    <ul>
    @foreach (TreatFlavor join in Model.JoinEntities)
        {
            <li>@join.Treat.TreatName</li>
        }
    </ul>
}

<p>@Html.ActionLink("Back to flavors", "Index")</p>
<p>@Html.ActionLink("Edit Flavors", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavors", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Add new treat of this flavor", "AddTreats", "Flavors")</p>
